<h2>Sprint Teams</h2>

<p>
  <% if Setting[:plugin_sprint_manager][:sprint_teams_managers].include?(User.current.login) %>
    <%= link_to 'New team', new_team_path %>
  <% end %>
</p>

<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Sprint</th>
      <th>Operations</th>
    </tr>
  </thead>

  <% @teams.each do |team| %>
    <tbody>
      <tr>
        <td><%= team.team %></td>
        <td><%= team.sprint %></td>
        <td>
          <%= link_to 'Show', team_path(team) %>&nbsp
          <% if Setting[:plugin_sprint_manager][:sprint_teams_managers].include?(User.current.login) %>
            <%= link_to 'Edit', edit_team_path(team) %>&nbsp
            <%= link_to 'Delete', team_path(team), method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp
          <% end %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'sprint_manager', :plugin => 'sprint_manager' %>
<% end %>
