    <%= fields_for :issue_teams_data do |f| %>
    <%#= instance_variable_names.inspect %>
    <%# {"ids"=>["3", "4", "5"]} %>
      <p>
        <%= f.label :team %>
        <%= f.select :team, Team.all.collect {|p| [ p.team, p.id ] },
                     :include_blank => (params[:action] != 'bulk_edit') ? true : t(:label_no_change_option),
                     :selected => params[:action] != 'bulk_edit' ? @issue.team_id : '' %>
      </p>
      <p>
        <%= f.label :sprint %>
        <% if params[:action] == 'bulk_edit' -%>
          <%= f.text_field :sprint %>
        <% else -%>
          <%= f.text_field :sprint, value: @issue.issue_sprint %>
        <% end -%>
        <%= button_tag "Current", type: 'button', onclick: "setCurrentSprint()" %>
        <%= button_tag "Next", type: 'button', onclick: "setNextSprint()" %>
      </p>
    <% end %>

<%= javascript_tag  do -%>
  function setCurrentSprint(){
    document.getElementById('issue_teams_data_sprint').value=getSelectedTeamSprint();
  }

  function setNextSprint(){
    sprint = getSelectedTeamSprint();
    if (sprint) {
      sprint++;
    }
    document.getElementById('issue_teams_data_sprint').value=sprint;
  }

  function getSelectedTeamSprint() {
    var e = document.getElementById('issue_teams_data_team');
    var issue_team_id = e.options[e.selectedIndex].value;
    var rj = $('<textarea />').html("<%= Issue.first.team_sprints %>").text(); // parse rails output to valid json string
    var team_sprints = JSON.parse(rj);
    if (!issue_team_id) {
      return '';
    }
    for (var i = 0; i < team_sprints.length; i++) {
      var t = team_sprints[i];
      if (t.id == issue_team_id) {
        return t.sprint;
      }
    }
  }

<% end -%>
