<div class="splitcontentright">
    <%= fields_for :issue_teams_data do |f| %>
    <%#= instance_variable_names.inspect %>
      <p>
        <%= f.label :team %>
        <%= f.select :team, Team.all.collect {|p| [ p.team, p.id ] },
                     :include_blank => true, :selected => @issue.team_id %>
      </p>
      <p>
        <%= f.label :sprint %>
        <%= f.text_field :sprint, value: @issue.issue_sprint %>
      </p>
    <% end %>
</div>
